.bureau-content {
  /* margin-top: 60px; */
}

.bureau-back {
  /* border-radius: 24px;*/
  /* background: url("../assets/back-servicios.gif"); */
  /*background-repeat: no-repeat;
  background-size: cover;
  filter: brightness(0.88);
  width: 1290px;
  margin: auto;
  background-color: rgba(236, 234, 229, 0.9);
  background-blend-mode: luminosity; */
}

.bureau-back2 {
  background-color: rgba(236, 234, 229, 0.9);
  border-radius: 24px;
}

.bureau-subTitulo {
}

.persona {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.persona-nombre {
  margin-top: 16px;
  margin-bottom: 10px;
}

.persona-funcion {
  border-top: 2px solid #ff3d00;
  margin-bottom: 10px;
  padding-top: 12px;
  width: 100%;
  text-align: center;
}

@media (max-width: 391px) {
  .bureau-content {
    padding: 0px 16px;
  }

  .bureau-back2 {
    padding: 30px 16px;
  }

  .bureau-subTitulo {
    padding: 32px 6px;
  }
}
