
.pp-combo_content3{

    margin-top: 24px;
    display: flex;

}

.pp-ca{
    flex:1;
    border-bottom: 2px solid #ff3d00;
}

    .pp-ca-f1{
        height: 186px;  
    }

        .pp-ca-f1-f1{
            height: 31px;
            border-bottom: 2px solid #ff3d00;
            /* background-color: brown; */
        }

        .pp-ca-f1-f2{
            display: flex;
            height: 155px;
            padding-bottom: 30px;
           
        }

            .pp-ca-f1-f2-c1{
                display: flex;
                flex-direction: column;
                height: 124px;
                
                
            }


                .pp-ca-f1-f2-c1-relleno1{
                    width: 16px;
                    height: 30.5px;
                }

                .pp-ca-f1-f2-c1-relleno2{
                    width: 16px;
                    height: 30.5px;
                }
                
                .pp-ca-f1-f2-c1-f1{
                    border: 1px solid #4D4F61;
                    border-right: none;
                    border-top-left-radius: 555px;
                    border-bottom-left-radius: 555px;
                    height: 31.5px;
                    width: 16px;
                }

                .pp-ca-f1-f2-c1-f2{
                    border: 1px solid #4D4F61;
                    border-right: none;
                    border-top-left-radius: 555px;
                    border-bottom-left-radius: 555px;
                    height: 31.5px;
                    width: 16px;
                }
            
            .pp-ca-f1-f2-c2{
                display: flex;
                flex-direction: column;
                width: 100%;
            }
                .pp-ca-f1-f2-c2-f1{
                    border-bottom: 1px solid #4D4F61;
                    height: 31px;
                    padding: 8px 0px 10px 8px;
                    display: flex;
                    align-items: center;

                }
       


  
    


.pp-cb{
width: 78px;
/* border-bottom: 2px solid #ff3d00; */
padding-top: 29.5px;
}


.pp-cb-f1 {
    border: 2px solid #ff3d00;
    border-left: none;
    height: 158.5px;
    width: 78px;
    border-top-right-radius: 555px;
    border-bottom-right-radius: 555px;
    display: flex;
    align-items: center;
}
.pp-cb-f1-f1 {
    border: 1px solid #4D4F61;
    border-left: none;
    border-top-right-radius: 555px;
    border-bottom-right-radius: 555px;
    height: 32px;
    width: 16px;
    margin-bottom: 1px;
}



 /* Estilos para tamaños de pantalla extra extra grandes (Extra Extra Large) */
 @media (max-width: 1210px) {
  
    .pp-cb {
        padding-top: 29px;
    }

    .pp-cb-f1 {
        height: 158.5px;
    }

    .pp-cb-f1-f1 {
        margin-bottom: 0px;
    }
}

@media (max-width: 855px) {
  
    .pp-cb-f1-f1 {
        
        height: 31px;
     
    }
}


@media (max-width: 774px) {
   

    .pp-cb-f1-f1 {
        height: 32px;
        margin-bottom: 2px;
    }

    .pp-cb-f1 {
        height: 158.5px;
    }

    .pp-cb {
        padding-top: 29.5px;
    }
    .pp-ca-f1-f2-c1-relleno2 {
        height: 31px;
    }

    .pp-ca-f1-f2-c1-relleno1 {
        height: 31px;
    }

}


@media (max-width: 680px) {
    
  

 .pp-cb-f1-f1 {
     height: 32px;
     margin-bottom: 1px;
 }

 .pp-cb-f1 {
    height: 157px;
}
 .pp-cb {
    padding-top: 30px;
}
 .pp-ca-f1-f2-c1-relleno2 {
     height: 30px;
 }

 .pp-ca-f1-f2-c1-relleno1 {
     height: 30px;
 }

 .pp-ca-f1-f2-c1-f1 {
    height: 32px;
}

.pp-ca-f1-f2-c1-f2 {
    height: 32px;
}
}


@media (max-width: 501px) {
   

    .cb-f1-f1 {
        height: 32px;
    }

    .cb {
        padding-top: 29px;
    }

    .cb-f1 {
        height: 159px;
    }
    
}

@media (max-width: 500px) {
    


   .cb-f1-f1 {
       height: 31px;
   }

   .cb {
       padding-top: 29px;
   }

   .cb-f1 {
       height: 159px;
   }
   
}


@media (max-width: 390px) {



    .cb-f1-f1 {
        height: 31px;
    }
 
    .cb {
        padding-top: 29px;
    }
 
    .cb-f1 {
        height: 159px;
    }
    
 }

  



  

  