.servicios_content{
    /*margin: 24px 24px 24px 24px;*/

    padding:0px 48px;
    margin-top: 60px;

   
}

.servicios-back{
    height: 1147px;
    width: auto;
    border-radius: 24px;
    background: url("../assets/back-servicios.gif");
    background-repeat: no-repeat;
    background-size: cover;
    filter: brightness(0.88);

}

.servicios-back2{
    height: 1147px;
    width: auto;
    border-radius: 24px;
    background-color: rgba(236, 234, 229,0.9)

}

.servicios{
    height: 1147px;
    width: auto;
    border-radius: 24px;
    background-color: rgba(96, 98, 122,0.9);

    padding:60px 36px
}
.servicio-subTitulo{
    display: flex;
    flex-direction: column;
    padding: 32px 30px;
}

/* Combo */

.servicio-combo{
    display: flex;
    padding: 16px 30px;

}
.sc-c1{

    

}

.sc-c1-f1{
    height: 31px;
    width: 341px;
    border-bottom:2px solid #ff3d00;

}
.sc-c1-f2{
 

}




.sc-c2{
    display: flex;
    flex-direction: column;
    gap:155px
    
}

.sc-c2-f1{
    height: 31px;
    width: 78px;
    border-bottom:2px solid #ff3d00;
  
}
.sc-c2-f2{
    height: 159px;
    width: 78px;
    border:2px solid #ff3d00;
    border-right: none;
    border-top-left-radius: 555px;
    border-bottom-left-radius: 555px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
}

.sc-c2-f2-f1{
    height: 32px;
    width: 16px;
    border:2px solid white;
    border-right: none;
    border-top-left-radius: 555px;
    border-bottom-left-radius: 555px;
}

.sc-c2-f3{
    height: 159px;
    width: 78px;
    border:2px solid #ff3d00;
    border-right: none;
    border-top-left-radius: 555px;
    border-bottom-left-radius: 555px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
}

.sc-c2-f3-f1{
    height: 32px;
    width: 16px;
    border:2px solid white;
    border-right: none;
    border-top-left-radius: 555px;
    border-bottom-left-radius: 555px;
}










.sc-c3{
    
    
}

.sc-c3-f1{
    height: 31px;
    width: 763px;
    border-bottom:2px solid #ff3d00;
}

.sc-c4{
    border:2px solid #ff3d00;
    
}

.sc-c5{
   
    
}

.sc-c5-f1{
    width: 78px;
    height: 30px;
    
}


.sc-c5-f2{

}

.sc-c5-f2-c1{
    height: 159px;
    width: 78px;
    border:2px solid #ff3d00;
    border-left: none;
    border-top-right-radius: 555px;
    border-bottom-right-radius: 555px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;

}

.sc-c5-f2-c1-f1{
    height: 32px;
    width: 16px;
    border:2px solid white;
    border-left: none;
    border-top-right-radius: 555px;
    border-bottom-right-radius: 555px;
}
.sc-c5-f2-c2{
    height: 159px;
    width: 78px;
}

.sc-c5-f2-c3{
    height: 159px;
    width: 78px;
    border:2px solid #ff3d00;
    border-left: none;
    border-top-right-radius: 555px;
    border-bottom-right-radius: 555px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;

}

.sc-c5-f2-c3-f1{
    height: 32px;
    width: 16px;
    border:2px solid white;
    border-left: none;
    border-top-right-radius: 555px;
    border-bottom-right-radius: 555px;
}