.title_content{
   /* margin:16px*/
   display: flex;
}


/* #ff3d00; */

.tc-c1{
    width: 24px;
}

.tc-c1-r1{
    border:2px solid #ff3d00;
    border-right: none;
    border-top-left-radius:555px;
    border-bottom-left-radius:555px;
    height: 58px;

}

.tc-c1-r2{
    border-bottom: 2px solid #ff3d00;
    height: 30px;
}


.tc-c2{
   
}

.tc-c2-r1{
   
    min-height: 58px;
    border-top: 2px solid #ff3400;
    border-bottom: 2px solid #ff3400;

}

.tc-c2-r2{
    border-bottom: 2px solid #ff3d00;
    height: 30px;
}



.tc-c3{
   
}

.tc-c3-r1{
   width: 45px;
   height: 34px;
    
}

.tc-c3-r2{
    border-bottom: 2px solid #ff3d00;
    width: 45px;
    height: 24px;
    
}

.tc-c3-r3{
    border-bottom: 2px solid #ff3d00;
    height: 30px;
}


.tc-c4{
   flex:1;
}

.tc-c4-r1{
    border-bottom: 2px solid #ff3d00;
    
    border-top: 2px solid #ff3d00;
    height: 26px;
    margin-top: 32px;
    width: 100%;
}

.tc-c4-r2{
    border-bottom: 2px solid #ff3d00;
    height: 30px;
   
}


.tc-c5{
    width: 24px;
    
}

.tc-c5-r1{


border-top: 2px solid #ff3d00;
height:  24.5px;
margin-top: 32px;
width: 100%;

}

.tc-c5-r2{
border-bottom: 2px solid #ff3d00;
border-top: 2px solid #ff3d00;
border-right: 2px solid #ff3400;
height:  31.5px;

border-top-right-radius: 555px;
border-bottom-right-radius: 555px;

}
