@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  /* inputs */
  .input-grey {
    @apply w-full border-b border-greyBlack bg-transparent font-nunito text-[11px] font-bold uppercase focus:border-b focus:border-callToAction focus:outline-none;
  }
  .input-error {
    @apply w-full border-b border-callToAction bg-transparent font-nunito text-[11px] font-bold uppercase text-callToAction focus:border-b focus:border-callToAction focus:outline-none;
  }
  .label-grey {
    @apply relative hidden font-nunito text-[11px] font-bold uppercase text-callToAction;
  }

  /*Tipografías*/
  .grey-black {
    @apply text-greyBlack;
  }

  .white {
    @apply text-white;
  }

  .call-to-action {
    @apply text-callToAction;
  }

  /* Menu */
  .titulo {
    @apply font-nunito text-[40px] font-light not-italic leading-[0] tracking-tighter;
    margin: 0px;
  }

  .opciones {
    @apply font-nunito text-[16px] font-semibold not-italic leading-normal;
    margin: 0px;
  }

  /* Formulario de contacto*/

  .contacto-subtitulo {
    @apply font-nunito text-[56px] not-italic;
    font-weight: 200;
    letter-spacing: -1.56px;
    line-height: 50px;
    margin: 0px;
  }

  /* Formulario enviar CV */
  .cv-subtitulo {
    @apply font-nunito text-[38px] not-italic;
    font-weight: 200;
    letter-spacing: -0.56px;
    line-height: 20px;
    margin: 0px;
  }

  /* 32px Nunito 400 */
  .text-lg-nunito-400 {
    @apply font-nunito text-[32px] font-medium;
    margin: 0px;
  }

  /* 32px Nunito 700 */
  .text-lg-nunito-700 {
    @apply font-nunito text-[32px] font-bold;
    margin: 0px;
  }

  /* 26px Nunito 400 */
  .text-md-nunito-400 {
    @apply font-nunito text-[24px] font-bold;
    margin: 0px;
  }

  /* 26px Nunito 700 */
  .text-md-nunito-700 {
    @apply font-nunito text-[24px] font-bold;
    margin: 0px;
  }

  /* 18px Nunito 400 */
  .text-sm-nunito-400 {
    @apply font-nunito text-[18px] font-normal;
    margin: 0px;
  }

  /* 18px Nunito 700 */
  .text-sm-nunito-700 {
    @apply font-nunito text-[18px] font-bold;
    margin: 0px;
  }

  /* 40px Lato 700 */
  .text-lg-lato-700 {
    @apply font-lato text-[40px] font-bold;
    margin: 0px;
  }

  /* 40px Lato 400 */
  .text-lg-lato-400 {
    @apply font-lato text-[40px] font-normal;
    margin: 0px;
  }

  /* 24px Lato 700 */
  .text-md-lato-700 {
    @apply font-lato text-[24px] font-bold not-italic;
    margin: 0px;
  }

  /* 24px Lato 400 */
  .text-md-lato-400 {
    @apply font-lato text-[24px] font-normal;
    margin: 0px;
  }

  /* 18px Lato 700 */
  .text-sm-lato-700 {
    @apply font-lato text-[18px] font-bold;
    margin: 0px;
  }

  /* 18px Lato 400 */
  .text-sm-lato-400 {
    @apply font-lato text-[18px] font-normal;
    margin: 0px;
  }
  .btn_gris {
    @apply rounded-[555px] bg-[#4d4f61] px-[28px] py-[10px] text-[#fff];
  }
  .text-banner {
    @apply text-center font-nunito text-[50px] font-[250] not-italic leading-[50px] tracking-[-1.04px] text-white md:text-[104px] md:leading-[100px];
  }
}
video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.container {
  position: relative;
}

.background {
  background: #f3f3f3;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
  transition:
    transform 0.3s,
    opacity 0.3s;
}

.chevron-mask {
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  padding-right: 16px;
}

.chevron-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 24px;
  height: 24px;
}

.chevron {
  width: 16px;
  height: 16px;
  transition:
    transform 0.3s,
    opacity 0.3s;
}

.copy-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  padding: 16px;
}

.copy {
  font-size: 16px;
  font-weight: bold;
  color: #000;
}
